POSTGRES_PASSWORD=replace_me
JWT_SECRET=replace_me
TMDB_API_KEY=replace_me
STRIPE_SECRET_KEY=replace_me
STRIPE_PUBLISHABLE_KEY=replace_me
STRIPE_WEBHOOK_SECRET=replace_me
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=replace_me